 {% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	<title>Recommender System </title>
{% endblock %}
{% block content%}
   
 <div class="content-section">
	
        <div class="container">
		
            <div class="row" style="float:left;" >
				{%for department in departments%}
                <div class="col-md-2" style="display: inline-block;">
                    <div class="product-item-1"  style="display: inline-block;">
                        <div class="product-thumb">
							{% if department.image %}
                            <img class= "shivani_image" style="float:left;" src="{{department.image.url}}" alt="Product Title">
							{%endif%}
                        </div> <!-- /.product-thumb -->
                        <div class="product-content">
                            <h5><a href="{% url 'getItems' department.id %}">{{department.name}}</a></h5>
                        </div> <!-- /.product-content -->
                    </div> <!-- /.product-item -->
                </div> <!-- /.col-md-3 -->
				
			
               	{%endfor%}
            </div> <!-- /.row -->
		
        </div> <!-- /.container -->
		
    </div> <!-- /.content-section -->
	
{%endblock%}

